In [21]:
import sys
import numpy as np
import pandas as pd

arr = [0] * 1000

In [2]:
sys.getsizeof(arr)

8056

In [3]:
sys.getsizeof(np.array(arr, dtype=np.int8))

1112

In [16]:
np.int8

numpy.int8

In [24]:
np.array([3, 1, 5])
df = pd.DataFrame([3, 1, 5], columns=["Value"])
df

   Value
0      3
1      1
2      5

In [164]:
a = np.array([1, 2, 3, 4, 5, 6])
b = np.array([0, .5, 1, 1.5, 2, 6])

sum_array = a + b

my_array = np.array([1, 2, 3, 4, 5, 6])

c = np.array([
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
])

c.sum(axis=1)  # there is only two axis cause its 2 dimension array. so axis=0 - first dimension and axis=2 - second dimension.
c.std()  # std - standard deviation - стандартное отклонение. It is standard deviation of each number from average value.

c.var() # variance - as big it is as different values are among each other. Дисперсия.

c + 10  # == list comprehension in python arrays. broadcasting and vectorized operations (really fasta operations with every object in the array)

array([[11, 12, 13],
       [14, 15, 16],
       [17, 18, 19]])

In [28]:
a.dtype

dtype('int64')

In [44]:
zeros_array = np.zeros((3, 4))
df = pd.DataFrame(zeros_array, columns=["first", "second", "third", "fourth"])
df

   first  second  third  fourth
0    0.0     0.0    0.0     0.0
1    0.0     0.0    0.0     0.0
2    0.0     0.0    0.0     0.0